<div class="container">
  <div class="card">
    <img
      src="https://img.freepik.com/vector-premium/fondo-pantalla-fondo-dibujos-animados-fantasia-paisaje-belleza-naturaleza_884500-24175.jpg"
      alt="Card image"
      class="card-image"
    />
    <div class="card-content">
      <h2 class="card-title">Título Cambiado</h2>
      <p class="card-description">
        Contenido de la tarjeta modificado en rama thrs
      </p>
      <button class="card-button">Ver más</button>
    </div>
  </div>
</div>
